**.cr.mti
**.vhd.bak
**.mpf
**.wlf
**.ini
**.lnk
System_Implementation_And_Synthesis/rtl/Design_1/simulation/modelsim/work/*
System_Implementation_And_Synthesis/rtl/Design_1/simulation/modelsim/transcript
System_Implementation_And_Synthesis/rtl/Design_1/post_synthesis_simulation/modelsim/work/*
System_Implementation_And_Synthesis/rtl/Design_1/post_synthesis_simulation/modelsim/transcript
System_Implementation_And_Synthesis/rtl/Design_2/simulation/modelsim/work/*
System_Implementation_And_Synthesis/rtl/Design_2/simulation/modelsim/transcript
System_Implementation_And_Synthesis/rtl/Design_2/post_synthesis_simulation/modelsim/work/*
System_Implementation_And_Synthesis/rtl/Design_2/post_synthesis_simulation/modelsim/transcript



