**.cr.mti
System Implementation & Synthesis/rtl/modelsim/work/*
**.vhd.bak
**.mpf
System Implementation & Synthesis/rtl/modelsim/transcript
**.wlf
**.ini
**.lnk
System Implementation & Synthesis/rtl/modelsim/wlftdxk23f
